.offers {
  max-width: 320px;
  width: 320px;
  height: calc(100% - 40px);
}

h2 {
  font-weight: 600;
}

.offers:first-child {
  grid-column-start: 0;
}

@media (min-width: 1280px) {
  .offers:first-child {
    grid-column-start: 2;
  }
}

.offers h3 {
  color: #6226C2;
}

.offers li {
  margin-bottom: 1.5rem;
}

.offers li::before {
  font-family: "Material Icons Outlined";
  content: "\e5cc";
  color: #6226C2;
  margin-right: 0.5rem;
  vertical-align: text-bottom;
}

.offers:not(:first-child):not(:last-child) {
  border: 2px solid #6226C2;
  border-radius: 0.375rem;
  height: 100%;
}
