.home {
  display: flex;
  padding-bottom: 200px;
  padding-top: 150px;
  /* background-color: #f2f6fa; */
}

h1 {
  margin: auto;
  background: white;
  color: #240e35;
  mix-blend-mode: lighten;
  line-height: 55px !important;
}

.titleBackground {
  background: linear-gradient(to left, #5825C0, #D02EE3);
}