header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #f2f6fa; */
}

nav {
  width: 25%;
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

nav span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.logo {
  height: 50px;
}