.features {
  height: 90vh;
}

.featureCard span {
  color: #6226C2;
  position: relative;
}

.featureCard span:after {
  content: "";
  position: absolute;
  left: 20px;
  width: 42px;
  height: 42px;
  margin: 0 auto;
  border-radius: 6px;
  z-index: -2;
  background: rgba(61, 98, 224, 0.1);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 8px;
}

.partyDraw {
  width: 50%;
}